

<div class="@CssClass">
    <a href="@NavDir" class="@LinkClass">
        @Name
    </a>
</div>



@code{
    [Parameter]
    public string? CssClass { get; set; }

        [Parameter]
    public string? LinkClass { get; set; }
        [Parameter]
    public string? Name { get; set; }
        [Parameter]
    public string? NavDir { get; set; }
}