<footer class="footer bg_accent_500">
	<address class="address">
		
			1234 some street
			Silver Hill Co 76495
		
	</address>

	<div class="footer_nav">
		footer nav content
	</div>
</footer>

@code {

}
