


<div class="social">
		<img src="../images/icons/facebook.png" alt="facebook icon" >
	<img src="../images/icons/instagram.png" alt="instagram icon" >
	<img src="../images/icons/twitter.png" alt="twitter icon" >
	<img src="../images/icons/youtube.png" alt="youtube icon" >

	</div>