@page "/components"

<h3>ComponentsPage</h3>

<section class="components">
    <div class="buttons">
        <small>buttons</small>
        <div class="yellow">

          <BtnPrimary @attributes="Btn" > 
              Book Room
          </BtnPrimary>

           <BtnPrimary  @attributes="BtnSecondary" data-type="secondary">
              Book Room
          </BtnPrimary>


           <BtnPrimary @attributes="BtnDisabled"
           >
              Book Room
          </BtnPrimary>
        </div>

        <div class="poly">
               <BtnPrimary @attributes="BtnPolyAttributes"
               data-type="poly">
              Book Room
          </BtnPrimary>
               <BtnPrimary @attributes="BtnPolyAttributes" 
               data-type="poly"
              >
              Book Room
          </BtnPrimary>
             <BtnPrimary @attributes="BtnPolyDisabledAttributes">
              Book Room
          </BtnPrimary>
        </div>

        <div class="pill">
                <BtnPrimary @attributes="BtnPillAttributes"
                data-type="pill">
              Book Room
          </BtnPrimary>
              <BtnPrimary @attributes="BtnPillAttributes"  data-type="pill">
              Book Room
          </BtnPrimary>
              <BtnPrimary @attributes="BtnPillDisabledAttributes">
              Book Room
          </BtnPrimary>
        </div>
    </div>
</section>

@code {
public Dictionary<string, object> Btn {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn"},
        {"type", "button"},
        {"name", "btnSubmit"}
    };

    public Dictionary<string, object> BtnSecondary {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn"},
        {"type", "button"},
       //{"data-type", "secondary"}
    };

public Dictionary<string, object> BtnPolyAttributes {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn btn_poly"},
        {"type", "button"},
        {"name", "btnSubmit"}
    };

    public Dictionary<string, object> BtnPillAttributes {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn btn_pill"},
       
        {"type", "button"},
        {"name", "btnSubmit"}
    };

    public Dictionary<string, object> BtnPillDisabledAttributes {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn_pill_disabled"},
        {"Disabled", "true"},
        {"type", "button"},
        {"name", "btnSubmit"}
    };

public Dictionary<string, object> BtnPolyDisabledAttributes {get;set;} = new Dictionary<string, object>()
    {
        {"class", " btn_poly_disabled"},
        {"type", "button"},
        {"Disabled", "true"},
    };


public Dictionary<string, object> BtnDisabled {get;set;} = new Dictionary<string, object>()
    {
        {"class", "btn_disabled"},
        {"Disabled", "true"},
        {"type", "button"},
        
        
    };
}
