@page "/components"

<h3>ComponentsPage</h3>

<section class="components">
    <div class="buttons">
        <small>buttons</small>
        <div class="yellow">
           
            <div class="btn btn-secondary square">
                Book Room
            </div>
             <div class="btn btn-secondary square ">
     Book Room
 </div>
        </div>
    </div>
</section>
@code {

}
