@page "/design"

<section class="design">
    <div class="container">
        <section class="typography flow">
            <h6>
                Typography
            </h6>

            <div class="font_families">
                <p>
                    Font Families
                </p>
                <div class="fonts">
                    <div class="headings">
                        <small>headings</small>
                        <h4>Julius Sans</h4>
                    </div>
                    <div class="body">
                        <small>for body copy</small>
                        <p>Raleway</p>
                    </div>
                </div>
            </div>

            <section class="headings">
                <small>Headings</small>
                <div class="headings">
                    <h1>headings-xxl</h1>
                    <h2>headings-xl</h2>
                    <h3>headings-lg</h3>
                    <h4>headings-md</h4>
                    <h5>headings-sm</h5>
                    <h6>headings-xs</h6>
                </div>
                <div class="body">
                    <p class="txt_700">Body xxL</p>
                    <p class="txt_600">Body xl</p>
                    <p class="txt_500">Body Lg</p>
                    <p class="txt_400">Body md</p>
                    <p class="txt_300">Body sm</p>
                    <p class="txt_200">Body xs</p>
                </div>
            </section>

            <section class="links_container">
                <div class="links">
                    <small>Links</small>
                    <a href="#" class="normal">link</a>
                    <a href="#" class="hover">link hover</a>

                </div>
                <div class="paragraphs">
                    <p class="txt_200">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa in fuga nihil quas saepe id
                        quis? Velit ab, tempore in odio obcaecati at dolore possimus sed nobis nemo totam doloremque.
                    </p>
                </div>
            </section>

            <section class="lists">
                <div class="unordered_list">
                    <small>Unordered list</small>
                    <ul>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>

                    </ul>
                </div>

                <div class="unordered_list">
                    <small>ordered list</small>
                    <ol>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>
                        <li>listItem</li>

                    </ol>
                </div>
            </section>
        </section>

        <section class="colors flow">
            <div class="primary">
                <div class="color bg_primary_100 txt_200">
                    priamry 1
                </div>
                <div class="color bg_primary_200 txt_200">
                    primary 2
                </div>
                <div class="color  bg_primary_300 txt_200">
                    primary 3
                </div>
                <div class="color bg_primary_400 txt_200">
                    primary 4
                </div>
                <div class="color bg_primary_500 txt_200">
                    primary 5
                </div>
                <div class="color bg_primary_600 txt_200">
                    primary 6
                </div>
                <div class="color bg_primary_700 txt_200">
                    primary 7
                </div>
            </div>
        </section>
    </div>

</section>
