@page "/"




<ButtonComp Class="btn btn_square" DataType="primary">
    <p class="btn_text">Book Now</p>
</ButtonComp>

<ButtonComp Class="btn btn_block" DataType="primary">
   <p class="btn_text">Book now</p>
</ButtonComp>
<ButtonComp Class="btn btn_poly" DataType="primary">
    <p class="btn_text">Book now</p>
</ButtonComp>
<ButtonComp Class="btn btn_pill" DataType="pill">
   <p class="btn_text">Book now</p>
</ButtonComp>


<ButtonComp Class="btn btn_square" DataType="secondary">
    <p class="btn_text">Book now</p>
</ButtonComp>

<ButtonComp Class="btn btn_block" DataType="secondary">
   <p class="btn_text">Book now</p>
</ButtonComp>
<ButtonComp Class="btn btn_poly" DataType="secondary">
    <p class="btn_text">Book now</p>
</ButtonComp>
<ButtonComp Class="btn btn_pill" DataType="pill">
   <p class="btn_text">Book now</p>
</ButtonComp>

<ButtonComp Class="btn btn_poly" DataType="disabled" isDisabled=true >
   <p class="btn_text">Disabled</p>
</ButtonComp>

<ButtonComp Class="btn btn_poly_arrow" DataType="secondary">
    <img src="./images/icons/arrow-right.png" alt="">
</ButtonComp>

<ButtonComp Class="btn btn_poly_arrow" DataType="primary">
    <img src="./images/icons/arrow-right.png" alt="">
</ButtonComp>

<ButtonComp Class="btn btn_poly_arrow" DataType="disabled">
    <img src="./images/icons/arrow-right.png" alt="">
</ButtonComp>


<ButtonComp Class="btn btn_poly" DataType="primary">
   <p class="btn_text">
        <span>Rooms</span>    and Apartments</p>
</ButtonComp>

<ButtonComp Class="btn btn_poly_arrow_down" DataType="primary">
  <img src="./images/icons/arrow-down.png" alt="">
</ButtonComp>


@code{
 
}