@page "/"

<PageTitle>Home</PageTitle>


<!--Video-->
<div class="video-wrapper">
    <div class="glass">
        <h2>Live The Grand Life</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    </div>

    
<video playsinline  autoplay muted loop id="intro-video">
    <source src="../video/intro-video.mp4" type="video/mp4">
</video>
</div>

<section>
    new section
</section>

@code {

}
