@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer{
    display: flex;
    height: 30vh;
    position:relative;
    bottom: 0;
    @include dynamicColor($accent);
    width: 100%;
    justify-content: space-between;
    align-items:center;
}