
@use '../abstracts' as *;
@use '../base' as *;





.header {
    display: grid;
    grid-template-columns: 5rem .5fr 1fr 5rem;
    width: 100%;
    height: 5rem;
    align-items: center;
    position: fixed;
   z-index: 10;
 color: $light;


    .logo {
        grid-column: 2;
        text-align: center;
        font-size: var(--fs-300);
        font-family: $ff-title;
        letter-spacing: 1.2rem;
        @include text-shadow;
    }

    .nav {
        grid-column: 3;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      

        &_icon{
            z-index: 11;
            width: 3.5rem;
            height: 3rem;
            display: flex;
            flex-direction: column;
           justify-content: space-evenly;
            position: relative;
            
            &:hover,
            &:focus{
                cursor: pointer;

            }
            .line{
             
                width: 100%;
                height: .1rem;
                background-color: $light;
                transition: all .3s ease-in-out;
            }
            .line_2{
                width: 2.5rem;
                transition: all .3s ease-in-out;

            }

            .line_3{
                width: 1.5rem;
                transition: all .3s ease-in-out;

            }

            
        }
      

        &_list {
           
            display: flex;
            width: 100%;
            
            justify-content: space-evenly;

            &_item {
                list-style: none;

                &_link{
               
        
                    font-size: var(--fs-200);
                    font-family: $ff-title;
                    position: relative;
                    @include text-shadow;
                    @include transition-base;

                    &::before{
                       content: "";
                       width: 0rem;
                       height: .1rem;
                       background-color: var(--clr-light-800);
                       position: absolute;
                       top: 1rem;
                       left: -4rem;
                       transition: all .3s cubic-bezier(1,0,0,1);
           
                   }
                   &::after{
                       content: "";
                       width: 0rem;
                       height: .1rem;
                       background-color: var(--clr-light-800);
                       position: absolute;
                       top: 1rem;
                       right: -4rem;
                       transition: all .3s cubic-bezier(1,0,0,1);
                   }
                   &:hover{
                       cursor: pointer;
                      
                   }
                   &:hover::before,
                   &:focus::before,
                   &:hover::after,
                   &:focus::after{
                       width: 3rem;
                   }
                }
            }

           
        }
    }

    .change{
       
        .line {
            background-color: $dark;
          
        }
        .line_1{
            transform: rotate(360deg);
           
        }
        .line_2{
           opacity: 0;
        } 
        .line_3{
            transform: rotate(360deg);
            
            width: 100%;
        
        } 

        .nav_list_item_link{
            color: $dark;

            &:hover{
            color: var(--clr-accent-500);
                
            }

            &::before,
            &::after{
                background-color: var(--clr-dark-100);
            }
            
        }
     
       
    }
}
