 <button @attributes="BtnMainAttributes">
                @ChildContent
</button>


@code{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> BtnMainAttributes{get;set;}
        [Parameter]
        public RenderFragment ChildContent {get;set;}
}
