@use "sass:map";

$colors:
(
    primary:(
        700: 150 13% 22%,
        600: 150 13% 32%,
        500: 150 13% 42%,
        400: 150 13% 52%,
        300: 150 13% 62%,
        200: 150 13% 72%,
        100: 150 13% 82% ,
    ),
    secondary:(
        700: 46 97% 63%,
        600: 46 97% 66%,
        500: 46 98% 69%,
        400: 46 98% 72%,
        300: 47 97% 75%,
        200: 48 95% 78%,
        100: 51 90% 81%,  
    ),
    'white':(    
        700:40 100% 98%,       
    ),
    error:(
        700:0 48% 47%,
    ),
    warning:(
       700: 36 70% 54%,
    ),
    success:(
        700: 154 37% 26%,
    ),
    link:(
        700: 170 36% 14%,
    ),
    
);

$custom-props:(
    body:
    (
        primary:
        (
            700: 150 13% 22%,
        )
       
    ),
    bg:(
        
        'white':
        (   
            700:40 100% 98%,       
        )
    ),
    link:
    (
        link:(
        700: 170 36% 14%,
    ),
    ),
    link-accent:
    (
        secondary:
        (
            700: 46 97% 63%,

        )
    ),
    btn:
    (
        secondary:
        (
            600: 46 97% 66%,

        ),
    ),
    btn-warning:
    (
        warning:
        (
            700: 36 70% 54%,
        ),
    ),

);


$txt-colors:(
      primary:(
        700:170 36% 14%,
        600:170 36% 24%,
        500:170 36% 34%,
        400:170 36% 44%,
        300:170 36% 54%,
        200:170 36% 64%,
        100:170 36% 74%,
    )
    );

