

$colors:(
    dark:(
        100: hsl(230, 20%, 15%),
        200: hsl(230, 20%, 25%),
        300: hsl(230, 20%, 35%),
        400: hsl(230, 20%, 45%),
        500: hsl(230, 20%, 55%),
        600: hsl(230, 20%, 65%),
        700: hsl(230, 20%, 75%),
        800: hsl(230, 20%, 85%),
    ),
    light:(
        100: hsla(60, 11%, 18%),
        200: hsl(60, 11%, 28%),
        300: hsl(60, 11%, 38%),
        400: hsl(60, 11%, 48%),
        500: hsl(60, 11%, 58%),
        600: hsl(60, 11%, 68%),
        700: hsl(60, 11%, 78%),
        800: hsl(60, 11%, 88%),
    ),

    accent:(
        100:hsl(218, 82%, 15%),
        200:hsl(218, 82%, 25%),
        300:hsl(218, 82%, 35%),
        400:hsl(218, 82%, 45%),
        500:hsl(218, 82%, 55%),
        600:hsl(218, 82%, 65%),
        700:hsl(218, 82%, 75%),
        800:hsl(218, 82%, 85%),
    ),
    
    );